<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>CODE-AI</title>
</head>

<body>
    <header class="text-gray-600 body-font">
        <div id="headnav"
            class="navbar bg-indigo-500 container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center fixed rounded-lg">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <span class="text-white ml-3 text-3xl">Code.AI</span>
            </a>

            <a href="{{ url_for('loginpage_endpoint', _external=True) }}">
                <button
                    class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
                    id="login">
                    Login/Signup
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </a>

        </div>
    </header>

    <section class="section-one text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
                <img class="object-cover object-center rounded" alt="hero"
                    src="../static/assets/The Future of coding.png">
            </div>
            <div
                class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Unleash the power
                    <br class="hidden lg:inline-block">of AI with coding
                </h1>
                <p class="mb-8 leading-relaxed">and take your development skills to the next level with our cutting-edge
                    ai powered coding tools to increase your productivity</p>
                <div class="flex justify-center">
                    <button
                        class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        id="learn-btn">Learn
                        More</button>
                </div>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font" id="section-two">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Code 100x faster with us</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Looking to supercharge your coding productivity?
                    Look no further than our AI-powered coding helper website. With our cutting-edge tools, you can
                    generate code, summarize complex functions, add accurate comments, and even translate code into
                    different programming languages - all in a fraction of the time it would take you to do it manually.
                    Let us help you take your coding skills to the next level and achieve your programming goals faster
                    than ever before.</p>
            </div>
            <div class="flex flex-wrap -m-4 text-center">
                <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                    <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                        <h2 class="boxo title-font font-medium text-3xl text-gray-900">CodeCraft</h2>
                        <p class="boxo leading-relaxed">Get code written in seconds with our AI-powered CodeCraft tool.
                        </p>
                    </div>
                </div>
                <div class="p-4 md:w-1/4 sm:w-1/2 w-full ">
                    <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                        <h2 class="boxo title-font font-medium text-3xl text-gray-900 one summarize-code">SummarizeCode
                        </h2>
                        <p class="boxo leading-relaxed">Easily understand complex code with SummarizeCode's
                            summarization
                            tool.</p>
                    </div>
                </div>
                <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                    <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                        <h2 class="boxo title-font font-medium text-3xl text-gray-900">CommentAI</h2>
                        <p class="boxo leading-relaxed">Save time and effort with CommentAI, the AI-powered code
                            commenter.
                        </p>
                    </div>
                </div>
                <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                    <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                        <h2 class="boxo title-font font-medium text-3xl text-gray-900">TransCode</h2>
                        <p class="boxo leading-relaxed">Translate your code from one language to another with
                            TransCode</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We are a diverse team of coding enthusiasts and AI
                    experts dedicated to making programming more accessible and efficient for everyone.</p>
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="p-4 lg:w-1/2">
                    <div
                        class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="team"
                            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                            src="../static/assets/shubh.jpeg">
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">Shubh Vora</h2>
                            <h3 class="text-gray-500 mb-3">Tech Entrepreneur</h3>
                        </div>
                    </div>
                </div>
                <div class="p-4 lg:w-1/2">
                    <div
                        class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                        <img alt="team"
                            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
                            src="../static/assets/sid.jpeg">
                        <div class="flex-grow sm:pl-8">
                            <h2 class="title-font font-medium text-lg text-gray-900">Garikapati Siddartha Venkatesh</h2>
                            <h3 class="text-gray-500 mb-3">Philanthropist</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
            <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Join Our Mailing List for the
                    Latest Coding Tips and Updates</h1>
                <p class="mb-8 leading-relaxed">Stay up-to-date with the latest coding trends, news, and tips by joining
                    our mailing list. Submit your email below to receive regular updates and exclusive content straight
                    to your inbox. Don't miss out on this opportunity to take your coding skills to the next level!</p>
                <div class="flex w-full justify-center items-end">
                    <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left">
                        <label for="hero-field" class="leading-7 text-sm text-gray-600">Email</label>
                        <input type="text" id="hero-field" name="hero-field"
                            class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-indigo-200 focus:bg-transparent border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <button id="submit-btn"
                        class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
                </div>
            </div>
        </div>
    </section>


    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <!-- <img class="h-20 w-20" src="../assets/1.png" alt="" srcset=""> -->
                <span class="ml-3 text-xl">Code.AI</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2023 Vorgar Industries
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-gray-500">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>
    <script src="../static/js/index.js"></script>
</body>

</html>